<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Settings for whole application</comment>
<entry key="consoleWriteExceptions">false</entry>
<entry key="editorStageMinWidth">1280.0</entry>
<entry key="editorMaximized">false</entry>
<entry key="guiBorderBarSize">32</entry>
<entry key="toolBarIconSize">32</entry>
<entry key="editorScreen">null</entry>
<entry key="editorStageMinHeight">702.0</entry>
<entry key="consoleToolsSpacing">5</entry>
<entry key="consoleToolsIconSize">24</entry>
<entry key="editorStageY">209.0</entry>
<entry key="editorStageX">2185.0</entry>
<entry key="imageViewTabIconSize">16</entry>
<entry key="guiIconSize">32</entry>
</properties>
